.swimming div
{border:2px solid coral;
width: 200px;
position: relative;
top: 100px;
background-color: red;
}
    }
    div{background-color: rgb(209, 209, 209);
    height: 300px;
width: 400px;}
        table{border-collapse: collapse;
    }


tr,th,td{border: 5px solid chocolate;

}